doctype html
html lang="ja"
  /! include head
  include head
  body
    div.wrapper
      /! include header
      include header-worklist
      /! page ID
      div.breadcrumb
        a href="/"
          | ホーム
        span
          | >
        a href="/worklist/"
          | つくったもの
        span
          | >
        p
          | Wordpressデザインワークブック
      div.content-wrapper.cf
        div.left-content
          h1
            | Wordpressデザインワークブック
          div.content-list
            figure
              img src="/img/wordPressDesign_01.jpg" alt=""
              figcaption
                | WordPressテーマカスタマイズの入門書
                a href="http://www.amazon.co.jp/dp/4881669281"
                  | Amazonでのご購入はこちら
          div.content-list
            h2
              | ウェブ制作のワークフローに沿った実践的な解説書
            p
              | 「WordPressデザインワークブック」は、コモモとひろましゃのコンビで執筆した WordPressテーマカスタマイズの入門書です。
            p
              | 2つのサンプルサイトを元に、実際のサイト制作のワークフローに沿って開発環境で作業を進めるところからスタートし、 本番サーバへの移行やバックアップの方法まで、クライアントワークで必要になってくる実践的なノウハウを数多く掲載しています。
            table border="1"
              caption
                | 制作担当
                tbody
                  tr
                    td.name
                      | コモモ
                    td
                      | サンプルサイトのデザイン、HTML/CSSコーディング、WordPressの基本実装
                      br
                      | 書籍執筆
                  tr
                    td.name
                      | ひろましゃ
                    td
                      | サンプルサイトのWordPress実装のうち、難しそうなPHPプログラム部分担当
                      br
                      | 書籍執筆
          div.content-list
            h2
              | WordPressの基礎をちゃんと積み上げたい方へ
            p
              | ウェブデザイナーが実務としてサイト制作を行う際に、「WordPressの設計思想を知って、 WordPressを柔軟に使いこなせるようになること」を目標に書きました。
            p
              | 通り一遍のウェブサイトを作れるようになるだけじゃなくて、もう一歩WordPressへ踏み込み、 自分のやりたいことに応用できるようになってもらえたら嬉しいです。
            figure
              img src="/img/wordPressDesign_02.jpg" alt=""
              figcaption
                | 地下鉄
          div.content-list
            h2
              | ウェブデザイナーの女の子に読んでもらいたい
            p
              | 2つのサンプルサイトのうち、ひとつは札幌に実際にあるクレープ屋さん「nino」のサイトです。
            p
              | ウェブデザイナーの女の子に、クレープ食べたいなぁって考えながら読んでもらえたらいいな(^^)
            figure
              img src="/img/wordPressDesign_03.jpg" alt=""
              figcaption
                | 左からiPhone、iPad、MacBook Airで表示確認
          div.content-list
            h2
              | 関連リンク
            ul
              li
                a href="http://www.amazon.co.jp/" alt=""
                  | Amazon
              li
                a href="http://www.sotechsha.co.jp/sp/928/" alt=""
                  | WordPressデザインワークブック3.4対応サポートページ
              li
                a href="http://www.sotechsha.co.jp/" alt=""
                  | ソーテック社
              li
                a href="http://cat-speak.net/2012/07/05/482/" alt=""
                  | コモモのまえがき:「WordPressデザインワークブック3.4対応」を執筆しました！
              li
                a href="http://another.maple4ever.net/archives/1697/" alt=""
                  | ひろましゃのあとがき:「WordPressデザインワークブック3.4対応」を執筆しました！
          div.cooperation
            p
              | 撮影協力
            p.shop-name
              | nino
            p
              | 札幌市豊平区月寒2条6丁目1-17
            ul
              li
                a href="http://www.ninocrape.info/" alt=""
                  | http://www.ninocrape.info/
            p
              | WordPressデザインワークブックのサンプルサイトとしても登場するクレープ屋さん。 おからの入ったクレープ生地はふかふかでおいしいよ。
        /! include side
        include side-worklist
      div.totop
        a href="#"
          | ページの先頭へ戻る
      /! include footer
    include footer
