div.footer
  .footer-nav
    ul
      li
        a href="/"
          | ホーム
      li
        a href="/about/"
          | わたしたちについて
      li
        a href="/worklist/"
          | つくったもの
      li
        a href="/contact/"
          | おといあわせ
  hr
  .copy
    p Copyright &copy; 2013 @komorikomasha All Rights Reserved.
  /! // .copy
/! // #Footer
/! // #Page
