<div class="header">
  <a href="/">
    <h1>
      komorikomasha
    </h1>
  </a>
  <p>
    1人じゃできないことも、力を合わせればできる。 やってみたいをカタチにする、3人の楽しいものづくり。
  </p>
  <div class="menubar">
    <div class="menubar-inner">
      <ul>
        <li>
          <a href="/">ホーム</a>
        </li>
        <li>
          <a class="active" href="/about">わたしたちについて</a>
        </li>
        <li>
          <a href="/">つくったもの</a>
        </li>
        <li>
          <a href="/">おといあわせ</a>
        </li>
      </ul>
    </div>
  </div>
</div>
