doctype html
html lang="ja"
  /! include head
  include head
  body
    div.wrapper
      /! include header
      include header-contact
      /! page ID
      div.breadcrumb
        a href="/"
          | ホーム
        p
          | > おといあわせ
      div.content-wrapper.cf
        div.left-content
          h1
            | おといあわせ
          p
            | このサイトについてのご意見・ご質問は、 おといあわせフォームより受け付けています。
          p.btn
            a href=""
              | おといあわせフォーム
          p
            | メンバー各自へのおといあわせは、 それぞれのブログなどからお願いいたします。
          div.member
            h2
              | コモモ（高橋　朋代）
            ul
              li
                | ブログ
                a href="http://cat-speak.net"
                  | http://cat-speak.net
              li
                | twitter
                a href="https://twitter.com/komomoaichi"
                  | @komomoaichi
          div.member
            h2
              | モリコ（森　智佳子）
            ul
              li
                | ブログ
                a href="http://mori-ko.tumblr.com"
                  | http://mori-ko.tumblr.com
              li
                | twitter
                a href="https://twitter.com/mori_ko"
                  | @mori_ko
          div.member
            h2
              | ひろましゃ（田中　広将）
            ul
              li
                | ブログ
                a href="http://another.maple4ever.net"
                  | http://another.maple4ever.net
          /! include side
        include side
      div.totop
        a href="#"
          | ページの先頭へ戻る
      /! include footer
    include footer
